body {
    background-color: #fcffe9 ;
    text-align: center;
    margin: auto;
}


.heading h1, h2 {
    display: inline-block;
}

#menu {
    position: absolute;
    margin: auto;

    border-style: solid;
    display: inline-block;
}


